/* CSS Custom Properties */

:root {
    --ff-headings: 'Poppins', sans-serif;
    --ff-body: 'Open Sans', sans-serif;

    --fs-sm: .75rem;
    --fs-base: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.5rem;
    --fs-800: 2.5rem;

    --fw-reg: 400;
    --fw-bold: 600:

    --clr-primary-400: hsl(257, 40%, 49%);
    --clr-accent-400: hsl(300, 69%, 71%);
}